<app-expense-income-graph></app-expense-income-graph>

<div class="row">
    <div class="col-xl-6">
        <!-- Members list group card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <!-- Title -->
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-0">Recent Residents</h3>
                    </div>
                    <div class="col-6 text-right">
                        <div class="float-right">
                            <form class="form-inline my-2 my-md-0">
                                <input class="form-control form-control-sm" type="text"
                                    [(ngModel)]="searchResidentFilter" name="searchResidentFilter"
                                    placeholder="Search Resident" autocomplete>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- List group -->
                <ng-container *ngIf="residents?.length>0; else noRecordTemplate">

                    <ul class="list-group list-group-flush list my--3">
                        <li class="list-group-item px-0"
                            *ngFor="let list of residents.reverse() |filter:searchResidentFilter | paginate: {id: 'residents', itemsPerPage: 6, currentPage: p };">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <!-- Avatar -->
                                    <a class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="assets/img/team1.jpg">
                                    </a>
                                </div>
                                <div class="col ml--2">
                                    <h4 class="mb-0">
                                        <a>{{list.lastname}} {{list.other_names}}</a>
                                    </h4>
                                    <!-- <span class="text-success">●</span> -->
                                    <small>@{{list.username}}</small>
                                </div>
                                <div class="col-auto" *ngIf="userType=='Admin'" >
                                    <button type="button" (click)="getResidentById(list.id)"
                                        class="btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#exampleModal">View Details</button>


                                    <button type="button" [routerLink]="['/home/payment/add']"
                                        [queryParams]="{residentId: list.id}"
                                        class="btn btn-sm btn-outline-success">Payment</button>
                                </div>
                            </div>
                        </li>
                        <div class="container">
                            <div class="float-right"> <pagination-controls id="residents" class="pagination"
                                    (pageChange)="p = $event"></pagination-controls></div>
                        </div>
                    </ul>
                </ng-container>
                <ng-template #noRecordTemplate>
                    <ul class="list-group list-group-flush list my--3">
                        <hr>
                        <div class="container p-5 mb-2">
                            <div class="text-center">
                                <div *ngIf="loadingRecord" class="spinner-border text-danger spinner-border-sm"
                                    role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>

                                <span>
                                    <h5 *ngIf="loadingRecord" class=" text-muted">Fetching Records</h5>
                                    <h5 *ngIf="!loadingRecord" class=" text-muted">No Record Found!</h5>
                                </span>
                            </div>

                        </div>
                    </ul>
                </ng-template>

            </div>
        </div>
    </div>


    <div class="col-xl-6">
        <!-- Checklist -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header  border-0">
                <!-- Title -->
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-0">Today's Visitors</h3>
                    </div>
                    <div class="col-6 text-right">
                        <div class="float-right">
                            <form class="form-inline my-2 my-md-0">
                                <input class="form-control form-control-sm" type="text"
                                    [(ngModel)]="searchVisitorfilter" name="searchVisitorfilter"
                                    placeholder="Search Visitors" autocomplete>
                            </form>
                        </div>
                    </div>

                </div>


            </div>
            <!-- Card body -->
            <div class="card-body p-0">
                <!-- List group -->
                <ng-container *ngIf="visitors?.length>0; else noVisitorTemplate">
                    <ul class="list-group list-group-flush" data-toggle="checklist">
                        <li *ngFor="let list of visitors.reverse() |filter:searchVisitorfilter | paginate: {id: 'visitors', itemsPerPage: 6, currentPage: q };let i=index"
                            class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                            <div [ngClass]="list.checkin? 'checklist-item-success':'checklist-item-danger'"
                                class=" checklist-item ">
                                <div class="checklist-info">
                                    <h5 class="checklist-title mb-0">{{list.name | uppercase}} -
                                        <i>{{list.discription}}</i>
                                    </h5>
                                    <small *ngIf="list.checkin"><i class="fas fa-arrow-up text-success mr-2"></i>Last
                                        CheckIn -
                                        <i>{{list.checkinDate |
                                            date:'medium'}}</i></small>
                                    <small *ngIf="list.checkout"><i class="fas fa-arrow-down text-warning mr-2"></i>
                                        Last CheckOut - <i>{{list.checkoutDate |
                                            date:'medium'}}</i></small>
                                </div>

                                <ng-container *ngIf="list.checkout || (list.checkout==false && list.checkin==false)">
                                    <button *ngIf="userType=='Admin' || userType=='Security'"  class="btn btn-icon btn-sm mr-2  btn-outline-success"
                                        [hidden]="list.checkout==true" type="button"
                                        (click)="updateVisitor(true,list.id)">
                                        <span class="btn-inner--text"> Check In
                                        </span>
                                    </button>
                                </ng-container>

                                <ng-container *ngIf="list.checkin">
                                    <button *ngIf="userType=='Admin' || userType=='Security'"   class=" btn btn-icon btn-sm btn-outline-primary" type="button"
                                        (click)="updateVisitor(false,list.id)">
                                        <span class="btn-inner--text">Check Out
                                        </span>
                                    </button>
                                </ng-container>

                            </div>

                        </li>
                        <div class="container">
                            <div class="float-right"> <pagination-controls id="visitors" class="pagination"
                                    (pageChange)="q = $event"></pagination-controls></div>
                        </div>
                    </ul>
                </ng-container>

                <ng-template #noVisitorTemplate>
                    <ul class="list-group list-group-flush list my--3">
                        <hr>
                        <div class="container p-5 mb-2">
                            <div class="text-center">
                                <div *ngIf="loadingRecord" class="spinner-border text-danger spinner-border-sm"
                                    role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>

                                <span>
                                    <h5 *ngIf="loadingRecord" class=" text-muted">Fetching Records</h5>
                                    <h5 *ngIf="!loadingRecord" class=" text-muted">No Record Found!</h5>
                                </span>
                            </div>

                        </div>
                    </ul>
                </ng-template>

            </div>
        </div>

        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <!-- Title -->
                <h5 class="h3 mb-0"> Latest notifications</h5>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
                    <ng-container *ngIf="getAllNotices?.length>0; else noNoticeTemplate">
                        <div class="timeline-block"
                            *ngFor="let list of getAllNotices.reverse()| paginate: {id: 'notice', itemsPerPage: 5, currentPage: n };">
                            <span class="timeline-step badge-success">
                                <i class="ni ni-bell-55"></i>
                            </span>
                            <div class="timeline-content">
                                <div class="d-flex justify-content-between pt-1">
                                    <div>
                                        <span class="text-muted text-sm font-weight-bold">{{list.title}}</span>
                                    </div>
                                    <div class="text-right">
                                        <small class="text-muted"><i class="fas fa-clock mr-1"></i>{{list.created |
                                            dateAsAgo }}</small>
                                    </div>
                                </div>
                                <h6 class="text-sm mt-1 mb-0">{{list.content}}</h6>
                            </div>
                        </div>
                        <div class="container">
                            <div class="float-right"> <pagination-controls id="notice" class="pagination"
                                    (pageChange)="n = $event"></pagination-controls></div>
                        </div>
                    </ng-container>
                </div>


                <ng-template #noNoticeTemplate>
                    <ul>
                        <div class="container p-5 mb-2">
                            <div class="text-center">
                                <div *ngIf="loadingRecord" class="spinner-border text-danger spinner-border-sm"
                                    role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>

                                <span>
                                    <h5 *ngIf="loadingRecord" class=" text-muted">Fetching Records</h5>
                                    <h5 *ngIf="!loadingRecord" class=" text-muted">No Record Found!</h5>
                                </span>
                            </div>

                        </div>
                    </ul>
                </ng-template>
            </div>
        </div>

    </div>


    <!-- View Resident Details -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Resident Profile</h5>
                    <button type="button" id="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ng-container *ngIf="selectedResidentData.lastname; else noResidentTemplate">
                        <form>
                            <div class="form-row mb-2">
                                <div class="col-md-4">
                                    <label class="form-control-label">Last Name</label>
                                    <input class="form-control form-control" [disabled]="true" type="text"
                                        [value]="selectedResidentData.lastname" placeholder="Last Name" />
                                </div>
                                <div class="col-md-4">
                                    <label class="form-control-label">Other Names</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.other_names" type="text"
                                        placeholder="Other Names" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-control-label">Username</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.username" type="text" placeholder="Username" />
                                </div>
                            </div>

                            <div class="form-row mb-2">
                                <div class="col-md-4">
                                    <label class="form-control-label">Employment Status</label>
                                    <select class="form-control" [disabled]="true">
                                        <option [value]="selectedResidentData.status">
                                            {{selectedResidentData.employment_status}}</option>


                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-control-label">Profession</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.profession" type="text"
                                        placeholder="Profession" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-control-label">Date Of Entry</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.date_of_entry" type="date" placeholder="Date" />
                                </div>
                            </div>
                            <div class="form-row mb-2">

                                <div class="col-md-4">
                                    <label class="form-control-label">Marital Status</label>
                                    <select class="form-control" [disabled]="true">
                                        <option [value]="selectedResidentData.status">{{selectedResidentData.status}}
                                        </option>

                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-control-label">Spouse Name</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.spouseName" type="text" placeholder="Spouse" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-control-label">Spouse Date of Birth</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.spouse_dob" type="date" placeholder="DOB" />
                                </div>
                            </div>

                            <div class="form-row mb-2">
                                <div class="col-md-6">
                                    <label class="form-control-label">Number of Children</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.numberOfChildren" type="number"
                                        placeholder="Number of Children" />
                                </div>
                                <div class="col-md-6">
                                    <label class="form-control-label">Children Names</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.childrenName" type="text"
                                        placeholder="e.g Martins, Victor, Benard" />
                                    <!-- lists -->
                                    <!-- <p *ngIf="children.length > 0">
                    <i *ngFor="let c of children"> {{ c }}, </i>
                  </p> -->
                                </div>
                            </div>

                            <div class="form-row mb-2">
                                <div class="col-md-6">
                                    <label class="form-control-label">House Type</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.houseType" type="text"
                                        placeholder="e.g Bungalow, Flat, Duplex" />
                                </div>
                                <div class="col-md-6">
                                    <label class="form-control-label">House Number</label>
                                    <input class="form-control form-control" [disabled]="true"
                                        [value]="selectedResidentData.houseNumber" type="text"
                                        placeholder="e.g Martins, Victor, Benard" />
                                </div>
                            </div>

                            <div class="form-row mb-2">
                                <div class="col-md-6">
                                    <label class="form-control-label">Gender</label>
                                    <select class="form-control" [disabled]="true">
                                        <option [value]="selectedResidentData.gender">{{selectedResidentData.gender}}
                                        </option>

                                    </select>
                                </div>
                            </div>
                        </form>
                    </ng-container>


                    <ng-template #noResidentTemplate>

                        <div class="container p-5 mb-2">
                            <div class="text-center">
                                <div *ngIf="residentDetailsLoading" class="spinner-border text-danger spinner-border-sm"
                                    role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>

                                <span>
                                    <h5 *ngIf="residentDetailsLoading" class=" text-muted">Fetching Records</h5>
                                    <h5 *ngIf="!residentDetailsLoading" class=" text-muted">No Record Found!</h5>
                                </span>
                            </div>
                        </div>

                    </ng-template>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>