<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-0">Manage Expense Income</h3>
            </div>
            <div class="col-6 text-right">
                <a href="#" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="modal"
                    data-target="#exampleModal">
                    <span class="btn-inner--icon"><i class="fas fa-user-plus"></i></span>
                    <span class="btn-inner--text">New Expense</span>
                </a>
                <a href="#" class="btn btn-sm btn-neutral btn-round btn-icon">
                    <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                    <span class="btn-inner--text">Export</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of expense; let i = index">
                    <td>
                        <span class="text-muted">{{ 1 + i }}</span>
                    </td>
                    <td class="table-user">
                        <b>{{ list.name }}</b>
                    </td>

                    <td>
                        <span>{{ list.discription }}</span>
                    </td>

                    <td class="table-actions">
                        <a class="table-action">
                            <i class="fas fa-user-edit"></i>
                        </a>
                        <a class="table-action table-action-delete">
                            <i class="fas fa-trash"></i>
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="expenseForm">
                    <div class="form-group mb-1">
                        <label class="form-control-label">Name</label>
                        <input class="form-control form-control" type="text" placeholder="Enter Name"
                            formControlName="name" />
                    </div>
                    <div class="form-group  mb-1">
                        <label class="form-control-label">Amount</label>
                        <input class="form-control form-control" type="text" placeholder="₦0.00"
                            formControlName="amount" />
                    </div>

                    <div class="form-row  mb-1">
                        <div class="col-md-6">
                            <label class="form-control-label">Month</label>
                            <select class="form-control">
                                <option value="Select Month" formControlName="month">Select Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>

                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="form-control-label">Year</label>
                            <select class="form-control" formControlName="year">
                                <option value="Select Year">Select Year</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="form-control-label">Description</label>
                        <textarea formControlName="discription" placeholder="Tell us something..." class="form-control"
                            id="" cols="30" rows="3"></textarea>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" (click)="addVisitor()">
                    Add Visitor
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>